---
const time = new Date()
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello, World!</h1>
    <p>This is from server, time: {time.toLocaleTimeString("cs")}</p>    
</body>
</html>
